In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [2]:
#Reading the dataset
insurance_df = pd.read_csv("C:/Users/maniv/Downloads/insurance1.csv")
insurance_df.head()

   age     sex     bmi  children smoker     region diseases      charges
0   19  female    27.9         0    yes  southwest      yes  16884.92400
1   18    male   33.77         1     no  southeast       no   1725.55230
2   28    male      33         3     no  southeast       no   4449.46200
3   33    male  22.705         0     no  northwest       no  21984.47061
4   32    male   28.88         0     no  northwest       no   3866.85520

In [3]:
le = LabelEncoder()
insurance_df['sex'] = le.fit_transform(insurance_df['sex'])
insurance_df['smoker'] = le.fit_transform(insurance_df['smoker'])
insurance_df['region'] = le.fit_transform(insurance_df['region'])
insurance_df['diseases']= le.fit_transform(insurance_df['diseases'])

In [4]:
insurance_df.head()

   age  sex     bmi  children  smoker  region  diseases      charges
0   19    0    27.9         0       1       3         1  16884.92400
1   18    1   33.77         1       0       2         0   1725.55230
2   28    1      33         3       0       2         0   4449.46200
3   33    1  22.705         0       0       1         0  21984.47061
4   32    1   28.88         0       0       1         0   3866.85520

In [20]:
insurance_df["region"].value_counts()

2    373
3    340
1    339
0    334
Name: region, dtype: int64

In [5]:
insurance_df.shape

(1386, 8)

In [6]:
#analyzing the dataset
insurance_df.head()

   age  sex     bmi  children  smoker  region  diseases      charges
0   19    0    27.9         0       1       3         1  16884.92400
1   18    1   33.77         1       0       2         0   1725.55230
2   28    1      33         3       0       2         0   4449.46200
3   33    1  22.705         0       0       1         0  21984.47061
4   32    1   28.88         0       0       1         0   3866.85520

In [7]:
insurance_df.tail()

      age  sex    bmi  children  smoker  region  diseases     charges
1381   21    0   25.8         0       0       3         0   2007.9450
1382   61    0  29.07         0       1       1         1  29141.3603
1383   22    1  24.25         0       1       1         1  19842.4550
1384   56    1  30.56         3       0       3         0  23655.2300
1385   36    0  24.87         2       1       3         1  12456.2500

In [8]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1386 non-null   int64
 1   sex       1386 non-null   int32
 2   bmi       1386 non-null   object
 3   children  1386 non-null   int64
 4   smoker    1386 non-null   int32
 5   region    1386 non-null   int32
 6   diseases  1386 non-null   int32
 7   charges   1386 non-null   float64
dtypes: float64(1), int32(4), int64(2), object(1)
memory usage: 65.1+ KB

In [9]:
insurance_df.describe()

,age,sex,children,smoker,region,diseases,charges
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,39.113997,0.505772,1.100289,0.209235,1.518759,0.209235,13349.065640
std,14.058465,0.500147,1.207396,0.406909,1.105945,0.406909,12159.883126
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1121.873900
25%,26.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4740.287150
50%,39.000000,1.000000,1.000000,0.000000,2.000000,0.000000,9440.087825
75%,51.000000,1.000000,2.000000,0.000000,2.000000,0.000000,17084.220700
max,64.000000,1.000000,5.000000,1.000000,3.000000,1.000000,63770.428010

In [10]:
insurance_df.dtypes

age           int64
sex           int32
bmi          object
children      int64
smoker        int32
region        int32
diseases      int32
charges     float64
dtype: object

In [14]:
insurance_df["bmi"]=insurance_df["bmi"].astype("float64")

In [11]:
insurance_df[insurance_df['bmi']=='26..43']#.loc[:,"bmi"]='26.43'

      age  sex     bmi  children  smoker  region  diseases  charges
1343   33    1  26..43         2       0       1         0  7261.59

In [13]:
insurance_df.loc[1343,"bmi"]='26.43'

In [15]:
X = insurance_df.drop("charges", axis=1) # Independent variables
y = insurance_df["charges"] # Dependent variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [17]:
y_pred = rf.predict(X_test)

# Evaluate the model
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print("R2 score: %.2f" % r2_score(y_test, y_pred))

Mean squared error: 19757853.18
R2 score: 0.88

In [18]:
# Predict the cost for a new individual
new_individual = [[29, 1, 23.6, 3, 0, 2, 1]] # Age, gender, BMI, children, smoker, region,diseases

new_individual_cost = rf.predict(new_individual)
print("The predicted cost for the new individual is %.2f" % new_individual_cost[0])

The predicted cost for the new individual is 11860.30

c:\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [19]:
import joblib
joblib.dump(rf,"rf.joblib")

['rf.joblib']

In [17]:
#  new_individual_encoded = le.transform([0, 1, 0, 1]) # Encode gender, smoker, and region
# new_individual[0][1] = new_individual_encoded[0]
# new_individual[0][4] = new_individual_encoded[1]
# new_individual[0][5] = new_individual_encoded[2]
# new_individual[0][6] = new_individual_encoded[3]



res=new_individual_cost*80
print("The predicted cost for the new individual is %.2f" % res)

The predicted cost for the new individual is 948824.08